/* General styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1em;
  }

  
  a {
    text-decoration: none;
    color: #333;
  }
  
  ul {
    list-style: none;
  }
  
  /* Header */
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: sticky;
    top: 0;
  }
  
  .logo {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
  }
  
  .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 2rem;
  }
  
  nav a {
    font-size: 1.2rem;
    font-weight: 500;
  }

  nav ul li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  nav ul li a:hover {
    color: #222;
    text-decoration: underline;
    }
  
 
  
  /* Projects */
  #projects-heading {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  
  #add-project-button {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  #add-project-button:hover {
    background-color: #555;
  }
  
  .project {
    display: inline-block;
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-right: 20px;
    margin-bottom: 20px;
    width: 450px;
    height: 620px;
    padding: 10px;
    overflow-y: scroll;
    transition: transform 0.3s ease;
  }
  
   
  .project {
    display: inline-block;
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-right: 20px;
    margin-bottom: 20px;
    width: 450px;
    height: 620px;
    padding: 10px;
    overflow: auto;
    transition: transform 0.3s ease;
  }
  

  .project h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  .project p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .project-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60px;
  }
  
  .project-actions button {
    background-color: transparent;
    border: none;
    color: #666;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  
/* Modal */
/* Modal Container */
.modal-container {
  display: none;
  position:fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Modal Content */
  .modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 50px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  }
  
  /* Modal Header */
  .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
  }

  .close-button-container {
   float: right;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    color: #000;
    font-weight: 800;
  }
  
  
 

  /* Table */
table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

td a {
  color: #333;
}

td a:hover {
  color: #222;
}

.filter-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  }
 
  
  #assigned-to {
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Cabin', 'sans-serif';
    height: 120px; 
  overflow-y: auto; 
  }
  
  #assigned-to option {
    font-size: 20px;
  }
  
  #selected-names {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 30px;
  }
  
  .selected-name {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .selected-name span {
    margin-right: 5px;
  }
  
  .selected-name button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
  
  }
  

  .form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .form-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .form-container input,
  .form-container select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .form-container select {
    height: 40px;
  }
  
  .form-container button[type="submit"] {
    display: block;
    width: 100%;
    background-color: grey;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button[type="submit"]:hover {
    background-color: darkgray;
  }
  
  .faded {
    color: #999;
  }
  
    .gantt-chart {
  background-color: black;
}
